/node_modules
/public/hotgit 
/public/storage
/public/adjuntos/
/public/var/
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode/sftp.json
.gitignore
/.vagrant
after.sh
aliases
Vagrantfile
.ftpconfig
