				@page {
          /*
								size: 8.5in 11in;
								margin-top:8%;
								margin-right:15%;
								margin-bottom:8%;
								margin-left:15%;
								background-image: url(../../assets/images/container.jpg);
								background-position: top left;
								background-repeat: no-repeat;
								background-image-resize: 3;
								background-image-resolution: from-image;
          */
				}
				.margen{
								margin-bottom: 0px;

				}